<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/add_symptom">Add new symptom</a>
    <% symptoms.forEach(symptom => {%>
        <p><%=symptom.symptom_name%></p>
        <form action="/edit_symptom/delete_symptom/<%=symptom.symptom_id%>" method="post">
            <button type="submit">X</button>
        </form>
    <%})%>  
</body>
</html>