<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/:poision_id" method="post">
        <input type="text" name="poisionName" id="poision" value="<%=poision.poisionName%>">
        <input type="text" name="toxin_type" id="toxin" value="<%=poision.toxin_type%>">
        <input type="text" name="lethality_level" id="lethality" value="<%=poision.lethality_level%>">
    </form>
</body>
</html>